Flask==3.1.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
SQLAlchemy==2.0.38
Werkzeug==3.1.3
WTForms==3.2.1
Jinja2==3.1.5
MarkupSafe==3.0.2
itsdangerous==2.2.0
click==8.1.8
python-dotenv==1.0.1
requests==2.32.3
psycopg2-binary==2.9.10
gunicorn==23.0.0
Flask-Migrate==4.1.0
alembic==1.14.1
https://stackblitz.com/storage/blobs/eyJfcmFpbHMiOnsiZGF0YSI6MTcyNDEwNDkxLCJwdXIiOiJibG9iX2lkIn19--7f0da363e9e86bd3477cd6f1305e16a98f8467df/requirements.txt